.menuWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background: rgb(207, 187, 174);
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.menuLink {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;  padding: 8px 12px;
  border-radius: 4px;
  background: rgb(84, 51, 29);
  border: 1px solid rgb(84, 51, 29);
  transition: 0.2s;
  text-align: center;
}

.menuLink:hover {
  background: rgb(95, 62, 38);
  color: rgb(219, 198, 183);
}
