.navbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
  background-color: rgb(84, 51, 29);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
  box-shadow: 0 2px 5px rgba(161, 72, 72, 0.2);
  color: white;
}

.logo {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  padding: 5px;
}

.links a:hover {
  color: rgb(207, 187, 174);
}

.a {
  cursor: pointer;
}

.span {
  font-Weight: bold;
}