.navbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
  background-color: rgb(84, 51, 29);
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  /* gap: 1030px; */
  padding: 0 0px;
  box-shadow: 0 2px 5px rgba(161, 72, 72, 0.2);
  color: white;
}

.logo {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover {
  color: rgb(207, 187, 174);
}
