body {
  background-color: rgb(207, 187, 174);
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: rgb(84, 51, 29);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,5em;
  color: rgb(84, 51, 29);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(84, 51, 29);
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgb(84, 51, 29);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: rgb(57, 35, 20);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(57, 35, 20);
  width: 250px;
  height: 30px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid rgb(138, 119, 106);
  margin-bottom: 12px;
}

.form-input:focus {
  border-color: rgb(57, 35, 20);
  outline: none;
}

select.form-input {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;

  width: 275px !important;
  height: 45px !important;
  padding: 8px 12px !important;
  font-size: 16px !important;
  line-height: 20px !important; /* dopasuj do input */
  border-radius: 6px !important;
  border: 1px solid rgb(138, 119, 106);
  background-color: #fff !important;
  box-sizing: border-box !important;

  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><polygon points='5,7 10,12 15,7'/></svg>") !important;
  background-repeat: no-repeat !important;
  background-position: right 10px center !important;
  background-size: 14px !important;
  padding-right: 35px !important;

  cursor: pointer !important;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(84, 51, 29);
  margin-bottom: 10px;
  text-align: left;
}

