.footer {
  background-color: rgb(207, 187, 174);
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: left;
}

.footer hr {
  border: 1px solid rgb(84, 51, 29);
  margin: 0 0 10px 0;
}
